@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 50px 50px;
    gap: 10px;
    grid-template-areas:
      "box1 box1 box1"
      "box2 box3 box3"
      "box2 box4 box5"
      "box6 box6 box6";
}
.wrapper div {
  padding: 20px;
}

.box1 {
    grid-area: box1;
    background-color: firebrick;
}

.box2 {
    grid-area: box2;
    background-color: lightyellow;
}

.box3 {
    grid-area: box3;
    background-color: lightgreen;
}

.box4 {
    grid-area: box4;
    background-color: lightblue;
}

.box5 {
    grid-area: box5;
    background-color: plum;
}

.box6 {
    grid-area: box6;
    background-color: pink;
}

.footer-container {
    background-color: grey;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
